:root {
    --primary-color: #e5e5e5;
    --text-color-nav: rgba(0,0,0,.5);
    --white-color: #fff;
    --black-color: #000;
    --box-shadow-color: #bbbbbb;
    --hover-color: #f1f1f1;
    --border-color:#bbbbbb;; 
    --sub-color: #2D8ECE;
    --height-header: 58px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--black-color);
    background-color: var(--white-color);
    text-rendering: optimizeSpeed;
}

.container {
    margin-top: var(--height-header);
    padding: 40px;
}

a {
    text-decoration: none;
    color: rgb(39, 39, 214);
}

button {
    border: none;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

input {

}

ul {
    list-style-type: none;
}

@import './login&registerStyle.scss';
@import './header.scss';
@import './pointsStyle/create.scss';
@import './meStyle/show.scss';
@import './meStyle/edit.scss';